.comp-page-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.comp-page-top {
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
}

#work-one {
    margin-right: 10px;
}

#work-two {
    margin-left: 10px;
}

.comp-page-work-wrapper {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.comp-page-work-border {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(206, 207, 212);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.comp-page-work-border>img {
    max-width: 100%;
    max-height: 85%;
    margin-bottom: auto;
}

.comp-page-work-text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.comp-page-work-border>h3 {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    font-size: 18px;
    word-wrap: break-word;
}

.comp-page-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(206, 207, 212);
    width: 100%;
    box-sizing: border-box;
}

.comp-page-bottom>div>h4 {
    margin: 5px 0px;
    word-wrap: break-word;
}

.comp-page-bottom>div {
    border-bottom: 1px lightgray solid;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comp-page-bottom>p {
    word-wrap: break-word;
}

#comp-page-bottom-button-wrapper {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 0px;
}

.show-annotations {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-size: 14px;
    background: none;
    background: white;
    box-shadow: 0px 0px 1px rgb(88, 99, 128);
}

.show-annotations:hover {
    background-color: rgb(246, 247, 251);
}

#about-comp-drop-down {
    right: 0px;
}

.about-header-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
