.navbar-home-button {
    text-decoration: none;
    color: rgb(66, 85, 255);
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;

}

.welcome-message {
    color: rgb(66, 85, 255);
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    margin: 0px;
    border-bottom: 1px rgb(246, 247, 251) solid;
    padding: 0px 20px 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.navbar-left-button {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 0px 20px;
    border-bottom: 3px white solid;
    border-top: 3px white solid;
}

.navbar-left-button:hover {
    border-bottom: rgb(168, 177, 255) 3px solid;
    border-radius: 1px;
}

.active {
    border-bottom: rgb(168, 177, 255) 3px solid;
    border-radius: 1px;
}

.navbar-left-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 90%;
}

.navbar-right-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 90%;
    padding: 10px 0px 10px;
}

.navbar-create-button {
    font-size: 14px;
    background-color: rgb(66, 85, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
}

.navbar-create-button:hover {
    background-color: rgb(54, 69, 203);
}

.navbar-login-button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-size: 14px;
    background: none;
}

.navbar-login-button:hover {
    background-color: rgb(246, 247, 251);
}

.navbar-signup-button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: rgb(255, 205, 33);
}

.navbar-signup-button:hover {
    background-color: rgba(255, 203, 33, 0.719);
}

.login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 300;
    display: flex;
}

.login-left {
    width: 50%;
    height: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Claude_Monet_Nympheas_1915_Musee_Marmottan_Paris.jpg/1024px-Claude_Monet_Nympheas_1915_Musee_Marmottan_Paris.jpg');
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login-left>span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 50px;
}

.login-form {
    width: 100%;
}

.login-right {
    width: 50%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.close-modal-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;

}

.close-modal-button>i {
    color: gray;
    padding: 10px;
    border-radius: 20px;
}

.close-modal-button>i:hover {
    background-color: rgb(246, 247, 251);

}

.login-signup-buttons-wrapper {
    display: flex;
    gap: 20px;
}

.login-signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-active {
    color: black;
}

#signup-active {
    color: black;
}

.login-signup-wrapper>button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
}


.login-signup-wrapper>i {
    color: rgb(255, 205, 33);
    font-size: 25px;
    transform: rotate(-70deg) scaleX(-1);
}


.navbar-create-dropdown-wrapper {
    background: white;
    z-index: 500;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 2px rgb(206, 207, 212);
    border-radius: 10px;
    width: 150px;
    font-size: 16px;
    top: 40px;
}



.navbar-hidden {
    display: none;
}

.create-button-wrapper-nav {
    position: relative
}

.drop-down_nav {
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
    width: 100%;
    padding: 10px;
}

.drop-down_nav:hover {
    background-color: rgb(246, 247, 251);
}

#login-submit-button {
    margin-top: 10px;
}

#signup-submit-button {
    margin-top: 10px;
}

.errors-login {
    margin-bottom: 10px;
}


#search-button-wrapper {
    margin-top: 20px;

}


.navbar-search-wrapper {
    background-color: rgb(246, 247, 251);
    width: 400px;
    height: 20px;
    max-width: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar-search-wrapper>input {
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-left: 10px;
    width: 90%;
}
